<div id="container">
        <header>
            <h1 id="quizName">{{quizName}}</h1>
            <button id="returnButton" class="btn btn-primary">Back To Home</button>
        </header>

        <section>
            <div id="results"></div>
            <form id="quizForm" name="quizForm">
            {{#each questions}}
            <h3 class="question"> {{this.question}}</h3>
            <input type="radio" name="q{{this.id}}" value="{{this.answerOne}}" id="q{{this.id}}a">a. {{this.answerOne}}<br>
            <input type="radio" name="q{{this.id}}" value="{{this.answerTwo}}" id="q{{this.id}}b">b. {{this.answerTwo}}<br>
            <input type="radio" name="q{{this.id}}" value="{{this.answerThree}}" id="q{{this.id}}c">c. {{this.answerThree}}<br>
            <input type="radio" name="q{{this.id}}" value="{{this.answerFour}}" id="q{{this.id}}d">d. {{this.answerFour}}<br>
            {{/each}}

        <input type="submit" value="Submit Answers">
            </form>
        </section>
    
        <footer>
            <p>Copyright @2019</p>
        </footer>
    </div>